<template>
  <div class="cart">
    <div class="container">
      <div class="cart-items" key="{product.id}">
        <div class="cart-item" v-for="(product, x) in cart" v-bind:key="x">
          <p>
            <span class="cart-description">Name:</span>
            {{ product.name }}
            <span class="cart-description">Price:</span>
            ${{ product.price }}
          </p>
          <button class="remove" v-on:click="remove(product)">
            Remove from cart
          </button>
        </div>
      </div>
      <h3 v-if="cart.length">Cart Total: ${{ getTotal(cart) }}</h3>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { cartRef } from "../firebaseConfig";

export default Vue.extend({
  name: "Cart",
  props: {
    cart: {
      type: Array
    }
  },
  methods: {
    remove(product: object): void {
      this.$emit("removeFromCart", product);
    },
    getTotal(cart: Array<any>): string {
      return cart
        .reduce((a: any, b: any): number => a + Number(b.price), 0)
        .toFixed(2);
    }
  }
});
</script>

<style scoped>
.cart {
  margin-left: 50px;
}

.cartItems {
  display: flex;
  flex-direction: column;
}

.cart-item {
  display: flex;
  flex-direction: row;
}

.cart-description {
  font-weight: bold;
}

.remove {
  margin: 10px;
}
</style>
