<template>
  <footer class="footer">
    <span class="text-container">
      <p class="by-text">
        Built by:
      </p>
      <a class="link" href="https://rubenprofit.nyc/">
        Ruben Profit
      </a>
    </span>
  </footer>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  name: "Footer"
});
</script>

<style scoped>
.footer {
  display: flex;
  justify-content: center;
}

.text-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.by-text {
  display: flex;
  justify-content: center;
  margin: 0px;
}

.link {
  text-decoration: none;
  margin-left: 2px;
}
</style>
