<template>
  <div class="layout">
    <Navigation />
    <main>
      <Cart v-bind:cart="cart" @removeFromCart="removeFromCart" />
      <ProductList v-bind:products="products" @addToCart="addToCart" />
    </main>
    <Footer />
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Navigation from "./Navigation.vue";
import Cart from "./Cart.vue";
import ProductList from "./ProductList.vue";
import Footer from "./Footer.vue";
import Products from "../products/index";
import { cartRef } from "../firebaseConfig";

export default Vue.extend({
  name: "Home",
  data: () => {
    return {
      products: Products,
      cart: []
    };
  },
  created() {
    this.getCart();
  },
  computed: {
    cartComputed() {
      return this.cart;
    }
  },
  methods: {
    getCart(): void {
      const cart: any = [];
      cartRef.on("value", snapshot => {
        const products = snapshot.val();
        for (const product in products) {
          cart.push({
            id: product,
            name: products[product].name,
            price: products[product].price
          });
        }
      });
      this.cart = cart;
    },
    addToCart(product: object): void {
      cartRef.push(product);
      this.getCart();
    },
    removeFromCart(product: any): void {
      cartRef.child(product.id).remove();
      this.getCart();
    }
  },
  components: {
    Navigation,
    Cart,
    ProductList,
    Footer
  }
});
</script>

<style scoped>
.layout {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
</style>
