<template>
  <nav class="navigation">
    <div class="route">
      <p class="app-name">Drone Store</p>
    </div>
  </nav>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  name: "Navigation"
});
</script>

<style scoped>
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 100px 10px 100px;
}

.app-name {
  font-size: 36px;
}
</style>
