<template>
  <div class="products">
    <div class="container" v-for="(product, x) in products" v-bind:key="x">
      <Product v-bind:product="product" />
      <button v-on:click="add(product)">
        Add to cart
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Product from "./Product.vue";

export default Vue.extend({
  name: "ProductList",
  props: {
    products: {
      type: Array
    }
  },
  components: {
    Product
  },
  methods: {
    add(product: object) {
      this.$emit("addToCart", product);
    }
  }
});
</script>

<style scoped>
.products {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.container {
  max-width: 300px;
  margin: 0px;
  text-align: center;
}
</style>
