<template>
  <div class="card">
    <div class="content">
      <img class="hero" :src="product.picture" />
      <h3 class="name">{{ product.name }}</h3>
      <p class="description">{{ product.description }}</p>
      <p class="price">${{ product.price }}</p>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  name: "Product",
  props: {
    product: {
      type: Object
    }
  }
});
</script>

<style scoped>
.card {
  max-width: 300px;
  max-height: 500px;
}

.content {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hero {
  max-width: 100%;
}

.price {
  color: blue;
}
</style>
